

   .paymentMain{
    width: 35%;
  
    justify-content: center;
    text-align: left;
    margin-left: 30%;
    
    /* border: 1px solid red; */
   }
   .cvv{
    display: flex;
    justify-content: space-between;
    /* justify-content: center; */
   }
   .success{
    height: 30px;
    background-color: rgb(77,121,41);
    color: white;
    font-weight: bold;
   }
   link{
    position: absolute;
    text-align: left;
   justify-content: left;
   color: red;
   border: 1px solid blue;
   }
   /* .returnDiv{
    border: 1px solid red;
   } */