
.menu_main{
    display: flex;
}

.menu_list{
    width: 30%;
   
    border: 1px solid goldenrod;
    justify-content: left;
}
li{
    list-style-type: none;
    color: rgb(122,122,122);
    margin-top: 25px;
    margin-bottom: 25px;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    text-align: left;
    padding-left: 20%;

  
    cursor: pointer;
}
.menu_list h3{
    
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 43px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding-bottom: 1vw;
}

.menu_item{
    display: grid;
   
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 20px;
}